@model WebVideoPortal.Models.User

@{
    ViewBag.Title = "User Profile";
}

@if (ViewBag.ViewProfileUser == null)
{
    <h2>User Profile</h2>
    <hr />

    <div class="container text-success" style="text-align: center;">
        @ViewBag.Message
    </div>
}
else
{
    <h2>@Html.ActionLink((string)ViewBag.ViewProfileUser.EmailID, "DisplayUserVideos", "Video", new { emailID = ViewBag.ViewProfileUser.EmailID }, null)'s Profile</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName):
            </dt>
            <dd>
                @if ((ViewBag.ViewProfileUser.FirstName != "") && (ViewBag.ViewProfileUser.FirstName != null))
                {
                    @Html.DisplayFor(model => model.FirstName)
                }
                else
                {
                    @:None
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName):
            </dt>
            <dd>
                @if ((ViewBag.ViewProfileUser.LastName != "") && (ViewBag.ViewProfileUser.LastName != null))
                {
                    @Html.DisplayFor(model => model.LastName)
                }
                else
                {
                    @:None
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailID):
            </dt>
            <dd>
                @if ((ViewBag.ViewProfileUser.EmailID != "") && (ViewBag.ViewProfileUser.EmailID != null))
                {
                    @Html.DisplayFor(model => model.EmailID)
                }
                else
                {
                    @:None
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth):
            </dt>
            <dd>
                @if (ViewBag.ViewProfileUser.DateOfBirth != null)
                {
                    @Html.DisplayFor(model => model.DateOfBirth)
                }
                else
                {
                    @:None
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsEmailVerified):
            </dt>
            <dd>
                @if (ViewBag.ViewProfileUser.IsEmailVerified != false)
                {
                    @Html.DisplayFor(model => model.IsEmailVerified) @:Yes
                }
                else
                {
                    @Html.DisplayFor(model => model.IsEmailVerified) @:No
                }
            </dd>

        </dl>
    </div>
}

<p>
    @Html.ActionLink("My Profile", "ViewMyProfile", "User")
</p>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}